h1{
    font-size: 36px;
    font-family: arial;
    text-transform: uppercase;
    color: #f1ef56;
}
.externo{
    font-weight: bold; 
    color:#6420b2; font-family: 
    arial; font-size: 
    20px;
}
p{
    font-family: arial; 
    font-size: 18px;
    width: 650px;
}
li:last-child{
    font-weight: bold; 
    color:lightseagreen; 
    font-family: arial; 
    font-size: 20px;
}